{% extends "base.html" %}

{% block title %}
    Snippet Library
{% endblock %}

{% block app_content %}
    <h2 class="centered-title">Snippet Library</h2>
    {% for snippet in snippets %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ snippet.author }}</a>
                    <small class="text-muted">{{ moment(snippet.created_dtm).format('LLL')}}</small>
                </div>
                <h2><a class="article-title" href="#">{{ snippet.source }}</a></h2>
                <p class="article-content">{{ snippet.snippet }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}